<?xml version="1.0" encoding="utf-8" ?>
<documentTypeAliases>
	<dtConfigurationContainer value="ConfigurationContainer" />
	<dtConfigurationDateTime value="ConfigurationDateTime" />
	<dtConfigurationDefaultValuesContainer value="ConfigurationDefaultValuesContainer" />
	<dtConfigurationEmail value="ConfigurationEmail" />
	<dtConfigurationGoogle value="ConfigurationGoogle" />
	<dtConfigurationRss value="ConfigurationRss" />
	<dtConfigurationSearchEngineOptimization value="ConfigurationSearchEngineOptimization" />
	<redirect value="Redirect" />
</documentTypeAliases>
