<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="upac" type="System.Configuration.ConfigurationSectionGroup">
			<section name="settings" type="Upac.Core.Configuration.SettingsSection, Upac.Core" />
			<section name="propertyAliases" type="Upac.Core.Configuration.PropertyAliasesSection, Upac.Core" />
			<section name="documentTypeAliases" type="Upac.Core.Configuration.DocumentTypeAliasesSection, Upac.Core" />
		</sectionGroup>
		<section name="umbracoevents" type="Upac.Events.Configuration.EventsSection, Upac.Events" />
	</configSections>

	<umbracoevents configSource="umbracoevents.config" />

	<upac>
		<documentTypeAliases configSource="upac.documentTypeAliases.config" />
		<settings configSource="upac.settings.config" />
		<propertyAliases configSource="upac.propertyAliases.config" />
	</upac>

	<appSettings>
		<add key="Upac.GoogleSiteSearch.GoogleSiteSearchApiKey" value="[Insert google site search key]"/>
		<add key="Upac.CampaignMonitor.ApiKey" value="[Insert CampaignMonitor.ApiKey]"/>
		<add key="Upac.CampaignMonitor.ApiClientId" value="[Insert CampaignMonitor.ApiClientId]"/>
	</appSettings>

	<system.net>
		<mailSettings>
			<smtp>
				<network host="[Insert SMTP Server]"/>
			</smtp>
		</mailSettings>

	</system.net>

</configuration>