<?xml version="1.0" encoding="utf-8" ?>
<umbracoevents enabled="true">
	<events>
		<event enabled="true" targetType="umbraco.cms.businesslogic.web.Document, cms" targetEvent="New">
			<handlers>
				<handler enabled="true" method="SetDefaultValuesOnNew" type="Upac.Core.Events.SetDefaultValues, Upac.Core"/>
				<handler enabled="true" method="SetDateOnNew" type="Upac.Core.Events.SetDate, Upac.Core"/>
			</handlers>
		</event>
		<event enabled="false" targetType="umbraco.cms.businesslogic.web.Document, cms" targetEvent="Save">
			<handlers>
				<handler enabled="true" method="SetDefaultValuesOnNew" type="Upac.Core.Events.SetDefaultValues, Upac.Core"/>
			</handlers>
		</event>
	</events>
</umbracoevents>